* {
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --main-transition: 0.3s
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--very-dark-blue-main-bg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 325px;
  margin: 0px 25px;
  padding: 25px;
  background-color: var(--very-dark-blue-card-bg);
  border-radius: 12px;
  overflow: hidden;
}

.card .card-images {
  width: 275px;
  height: 275px;
  border-radius: inherit;
  position: relative;
}

.card .card-images img {
  max-width: 100%;
  border-radius: inherit;
}

.card .card-images::after,
.card .card-images .view-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity var(--main-transition);
  opacity: 0;
}

.card .card-images::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, 0.50);
  border-radius: inherit;
}

.card .card-images:hover::after {
  opacity: 1;
}

.card .card-images .view-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.card .card-images:hover .view-image {
  opacity: 1;
}

.card h1 {
  color: var(--white);
  font-size: 1.375rem;
  margin-bottom: 0px;
  transition: color var(--main-transition);
}

.card h1:hover {
  color: var(--cyan);
}

.card p {
  color: #91b1de;
  line-height: 1.5;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card .card-stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--very-dark-blue);
}

.card .card-stats img {
  margin-right: 5px;
  transform: translateY(20%);
}

.card .card-stats .ethereum-score {
  color: var(--cyan);
  font-weight: bold;
}

.card .card-stats .date {
  color: #91b1de;
}

.card .card-author {
  display: flex;
  align-items: center;
}

.card .card-author img {
  max-width: 30px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.card .card-author span {
  color: #91b1de;
}

.card .card-author .author-name {
  color: var(--white);
  transition: color var(--main-transition);
}

.card .card-author .author-name:hover {
  color: var(--cyan);
}